/* This is the CSS reset code */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Here start my CSS styles */


/* It is used to select all the elements of the page and had the same format */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Stylize the elements that are inside the body. In this case, everything is going to have an open-sans font */
body {
    font-family: open-sans, sans-serif;
    font-size: 12pt;
}
/* Absolutely everything that has this class has a max-width */
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: #222222;
}

.top_nav {
    padding: 14px;

    background-color: #222222;
}

.logo_nav {
    display: block;

    background-color: #c78c08;
}

nav ul li {
    padding: 20px 14px;
    display: block;

    text-align: center;
}

nav ul li a {
    font-size: 10pt;
    
    color: #c78c08;

    text-decoration: none;
}

.top_nav a.active {
    color: #222222;
}

nav ul li:first-child {
    background-color: #c78c08;
}

.search_link {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.search_link input {
    width: 95%;
    padding: 6px;
}

.fa-magnifying-glass {
    padding: 6px;
    border: 1px solid #c78c08;

    background-color: #222222;
    color: #c78c08;
}

.hero {
    width: 100%;
    margin: 0 auto;
    padding: 100px 0 30px;

    background: url("../images/main-banner.jpg") center center no-repeat;
    background-size: cover;
}

.hero_container {
    padding: 30px 30px 14px 14px;

    background-color: rgba(0, 0, 0, .6);
}

h1 {
    color: white;
    font-size: 50pt;
    font-weight: 800;
    line-height: 1.5;
}

.hero_container p {
    color: white;
    font-size: 10pt;
    line-height: 1.5;
}

.connect_link  {
    margin-top: 10px;
    padding: 30px;

    display: inline-block;

    background-color: #c78c08;
}

.connect_link a {
    color: #222222;

    font-size: 16pt;
    text-decoration: none;
}

.fa-caret-right {
    padding-left: 10px;
}

.about_us {
    width: 100%;
    margin: 0 auto;
    padding: 14px;

    background-color: #ffe6ac;
}

.about_us img {
    width: 100%;
    margin: auto;
}

h2 {
    padding: 30px 0 24px;

    font-size: 35pt;
    font-weight: 600;
}

p {
    margin-bottom: 15px;

    color: #222222;
    line-height: 1.5;
}

.our_services {
    margin: 14px;

    display: inline-block;
}

.our_services img {
    width: 100%;
    margin: 0 auto;
}

.grid div {
    margin-bottom: 14px;

    background-color: #ffe6ac;
}

h3 {
    padding: 30px 14px 14px;

    font-size: 24pt;
    font-weight: 600;
}

.our_services p {
    margin: 0 auto;
    padding: 14px;

    color: #222222;
    line-height: 1.5;
}

div .services_link {
    margin: 0 0 14px 14px;
    padding: 30px;

    display: inline-block;

    background-color: #222222;
}

.services_link a {
    color: white;
    
    font-size: 16pt;
    text-decoration: none;
}

.services_link .fa-caret-right {
    color: white;
}

.our_vision {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 14px;
    height: 100%;

    background: url("../images/vision.jpg") center center no-repeat;
    background-size: cover;
}

.our_vision h3 {
    color: white;
}

.our_vision p {
    margin: 0 auto;
    padding: 14px;

    color: white;
}

.vision_link {
    margin: 0 0 14px 14px;
    padding: 30px;
    border: 1px solid #c78c08;

    display: inline-block;

    background-color: #142A43;
}

.vision_link a {
    color: white;

    font-size: 16pt;
    text-decoration: none;
}

.vision_link .fa-caret-right {
    color: white;
}

.our_team, .contact_us {
    width: 100%;
    margin: 0 auto;
    padding: 14px;

    display: inline-block;
}

.our_team img {
    width: 100%;
    margin: 0 auto;
}

.container {
    margin-bottom: 14px;

    background-color: #ffe6ac;
}

.container h4 {
    margin: 0 14px 0 14px;
    padding-bottom: 4px;
    border-bottom: 2px solid #c78c08;

    font-weight: 600;
}

.container p {
    margin: 0 auto;
    padding: 14px 14px 30px;

    color: #222222;
}

.contact_us h3 {
    padding: 14px 0;
}

.formulary label {
    width: 100%;
    margin: 14px 0;
    display: inline-block;
}

.controls {
    width: 100%;
    height: 30px;
}

.message {
    width: 100%;
    height: 100px;
}

.button {
    margin: 14px 0;
    padding: 6px 4px;
    border: 1px solid #222222;

    background-color: #222222;
    color: #c78c08;

    font-size: 14pt;
}

.hours_operation table {
    width: 100%;
    margin-bottom: 14px;
}

table, thead, tbody, tr, th, td {
    padding: 14px 0;
    border: 1px solid #222222;
}

thead {
    background-color: #ffe6ac;
}

td {
    padding-left: 14px;
}

.location, iframe {
    width: 100%;
    height: 450px;
    margin-bottom: 20px;
}
/* Mobile Devices and Desktop has the same background color and color of the text. The only difference is going to be the padding of the father element */
footer {
    padding: 24px 0 10px;

    background-color: #222222;
}

footer p, a {
    margin: 0 auto;
    color: #c78c08;
}

footer p {
    padding: 6px 14px;
}

/* Here start for Desktop Devices with Media Queries (760px and above) */

@media screen and (min-width: 760px) {     
    /* Setting the padding for all the content because Desktop devices had more than the Mobile */
    .top_nav, .hero, .about_us, .our_team, .our_vision, .our_services, .contact_us, footer {
        padding: 20px 90px 0;
    }

    /* Setting the font size for h1, h2, h3 and h4. Also, for the links, button, paragraphs, labels text and table text */
    /* For h1 a max width is going to be implemented, so that always keep the width */
    h1 {
        max-width: 800px;
        font-size: 45pt;
    }

    h2 {
        font-size: 25pt;
    }

    h3 {
        font-size: 20pt;
    }

    h4 {
        font-size: 10pt;
    }

    .connect_link a, 
    .search_link a, 
    .services_link a,
    .vision_link a, 
    .button {
        font-size: 12pt;
    }

    p, th, td, .formulary label {
        font-size: 10pt;
    }

    /* Nav Desktop is different from Mobile because the nav part, logo and search bar go next to each other */
    /* A grid is going to be applied and it's going to have 3 columns (logo, nav, search bar) */
    .grid_nav {
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        align-items: center;
        align-content: center;
    }

    .logo_nav {
        width: 70px;
        height: 70px;
    }
    /* In this part a flex is the best option, so that they are located horizontally and not vertically as in Mobile Devices  */
    ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul li a {
        padding: 20px;
    }

    /* Set the class hero container in the middle of the background image that is in the class hero */
    .hero {
        width: 100%;
        height: 600px;

        padding-top: 130px;
    }

    .hero_container {
        padding: 30px 30px 14px 14px;
    }

    /* About us Desktop, a flexbox is going to be applied, so the image goes to the left of the information or to the class "section_text". Also both has the same width */
    .about_us {
        width: 100%;
        margin: 0 auto;
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .about_flexbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about_us img {
        width: 50%;
    }

    .about_us .section_text {
        width: 50%;
        padding-left: 14px;
    }


    /* Our services Desktop, a grid is going to be applied, so will be displayed like: the first two services in the first row and the other three in the second row, in total will have 6 columns. Also the buttons of each one are more longer than Mobile Devices and the class "services_link" are centered the text */
    /* There's no margin in the class "our services" for Desktop Devices */
    .our_services {
        margin: 0 auto;
        display: grid;
    }

    .grid {
        display: grid;
        column-gap: 14px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr .5fr;
    }
    .grid div:nth-child(1) {grid-column: 1 / 4;}
    .grid div:nth-child(2) {grid-column: 4 / 7;}
    .grid div:nth-child(3) {grid-column: 1 / 3;}
    .grid div:nth-child(4) {grid-column: 3 / 5;}
    .grid div:nth-child(5) {grid-column: 5 / 7;}

    div .services_link {
        width: 92%;
        margin: 0 14px 14px 14px;

        text-align: center;
    }

    /* Our Vision Desktop. We need to delet the left padding for the paragraph and h3 that was put on Mobile Devices. Also, the left margin of the button */
    .our_vision p, .our_vision h3 {
        padding-left: 0;
    }

    .our_vision .vision_link {
        margin-left: 0;
    }

    /* Our Team Desktop, a flexbox is going to be applied, so the John image is next to his information text, and the image of bob is on the right of his information text (is in reverse) */
    /* Gap is going to be applied because there's no space between columns and rows */
    .our_team {
        margin: 0 auto;
        gap: unset;
    }

    .john_flexbox {
        display: flex;
     }

    .bob_flexbox {
        display: flex;
        flex-direction: row-reverse;
    }

    .our_team img {
        width: 50%;
        margin: 0 auto;
    }

    .container {
        margin: 0;
    }
     
    /* Contact us Desktop is going to be the formulary next to the location and the table down of these two, for doing that a grid is going to be applied. The height of the map is more smaller than the Mobile Devices */
    .grid_contact {
        display: grid;
        gap: 14px;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .grid_contact div:nth-child(1) {grid-column: 1 / 4;}
    .grid_contact div:nth-child(2) {grid-column: 1 / 7;}
    .grid_contact div:nth-child(3) {grid-column: 4 / 7;}

    .grid_contact div:nth-child(1) {grid-row: 1 / 3;}
    .grid_contact div:nth-child(2) {grid-row: 3 / 4;}
    .grid_contact div:nth-child(3) {grid-row: 1 / 3;}

    .location, iframe {
        width: 100%;
        height: 350px;
    }

    .hours_operation table {
        width: 100%;
        margin-bottom: 14px;
    }

    /* Footer Desktop has more space at the top than the Mobile Devices  */
    footer {
        padding-top: 20px;
    }
}