/* This is the CSS reset code */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Here start my CSS styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: open-sans, sans-serif;
    font-size: 12pt;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: #222222;
}

.top_nav {
    padding: 14px;

    background-color: #222222;
}

.logo_nav {
    width: 100%;
    padding: 0;
    display: block;

    background-color: #c78c08;
}

nav {
    display: block;
}

nav ul li {
    padding: 20px 14px;
    display: block;

    text-align: center;
}

nav ul li a {
    font-size: 10pt;
    
    color: #c78c08;

    text-decoration: none;
}

.top_nav a.active {
    color: #222222;
}

nav ul li:first-child {
    background-color: #c78c08;
}

.search_link {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.search_link input {
    width: 95%;
    padding: 6px;
}

.fa-magnifying-glass {
    padding: 6px;
    border: 1px solid #c78c08;

    background-color: #222222;
    color: #c78c08;
}

.hero {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 14px;
    height: 100%;

    background: url("../images/main-banner.jpg") center center no-repeat;
    background-size: cover;
}

.hero_container {
    padding: 30px 30px 14px 14px;

    background-color: rgba(0, 0, 0, .6);
}

h1 {
    color: white;
    font-size: 50pt;
    font-weight: 800;
    line-height: 1.5;
}

.hero_container p {
    color: white;
    font-size: 10pt;
    line-height: 1.5;
}

.connect_link  {
    margin-top: 20px;
    padding: 30px;

    display: inline-block;

    background-color: #c78c08;
}

.connect_link a {
    color: #222222;
    text-decoration: none;
}

.fa-caret-right {
    padding-left: 10px;
}

.about_us {
    width: 100%;
    margin: 0 auto;
    padding: 14px;

    background-color: #ffe6ac;
}

.about_us img {
    width: 100%;
    margin: auto;
}

h2 {
    padding: 30px 0 24px;

    font-size: 35pt;
    font-weight: 600;
}

p {
    margin-bottom: 15px;

    color: #222222;
    line-height: 1.5;
}

.our_services {
    margin: 14px;

    display: inline-block;
}

.our_services img {
    width: 100%;
    margin: auto;
}

.grid div {
    margin-bottom: 14px;

    background-color: #ffe6ac;
}

h3 {
    padding: 30px 0 14px 14px;

    font-size: 24pt;
    font-weight: 600;
}

.our_services p {
    margin: 0 auto;
    padding: 14px 0 14px 14px;

    color: #222222;
    line-height: 1.5;
}

div .services_link {
    margin: 0 0 14px 14px;
    padding: 30px;

    display: inline-block;

    background-color: #222222;
}

.services_link a {
    color: white;
    
    font-size: 16pt;
    text-decoration: none;
}

.services_link .fa-caret-right {
    color: white;
}